<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

	<Identity
	  Name="YourSimpleApps.3028692AC882E"
	  Publisher="CN=39208EA1-D5D2-424A-8611-3802B30527E1"
	  Version="1.0.17.0" />

	<mp:PhoneIdentity PhoneProductId="c05e367f-5b12-4c32-bd01-3787160899bc" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Catholic Saints &amp; Blessed</DisplayName>
		<PublisherDisplayName>Your Simple Apps</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="ChristianCatholicSaints.UWP.App">
			<uap:VisualElements
			  DisplayName="Catholic Saints &amp; Blessed"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="More than 5000 list of Saints, Blessed and Martyrs within our Catholic Church. There are some classification based on Canonized By, Pope and timeline (century). The full list can be searched and filtered. Each saint has available detailed information with some facts and pictures."
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo" />
						<uap:ShowOn Tile="wide310x150Logo" />
						<uap:ShowOn Tile="square310x310Logo" />
					</uap:ShowNameOnTiles>
				</uap:DefaultTile>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/>
					<uap:Rotation Preference="portrait"/>
					<uap:Rotation Preference="landscapeFlipped"/>
					<uap:Rotation Preference="portraitFlipped"/>
				</uap:InitialRotationPreference>
				<uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badgeAndTileText"/>
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<uap:Capability Name="removableStorage"/>
		<uap:Capability Name="picturesLibrary" />
	</Capabilities>
</Package>