<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pj.worldleaders" android:versionCode="9" android:installLocation="preferExternal" android:versionName="9.0">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:label="World Leaders" android:theme="@style/MainTheme" android:icon="@mipmap/appicon" android:fullBackupContent="@xml/appcenter_backup_rule">
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-4219645367584712~3431638300" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.google.android.gms.permission.AD_ID" />
	<queries>
		<intent>
			<action android:name="android.intent.action.TTS_SERVICE" />
		</intent>
	</queries>
</manifest>